<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT ME!!{{else}}LOOKS LIKE {{burger_name}} IS BACK ON THE MENU! {{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">nah i dont want that burger!</button>
</li>


